@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --main-bg-color: white;
    --main-font:'Nunito' ,sans-serif;
    --header-color:rgb(125, 125, 235);
    --header-height:50px;
    --title-color:rgb(229, 228, 228);
    --title-font-family: 'Edu AU VIC WA NT Dots', sans-serif;
    --title-font-size: 30px;
    --title-sub-color:rgba(255, 255, 255, 0.816);
    --grid-panel-width: 28px;
    --grid-size:16;
    --drawing-grid-color:rgba(255, 255, 255, 0);
    --grid-panel-color:#bbbbf3;
    --paint-color:blue;
    --grid-panel-hover:rgb(157, 55, 236);
}

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100vw;
overflow-x: hidden;
min-height: 100vh;
background-color: var(--main-bg-color);
min-width: 500px;
}

.header{
    height: var(--header-height);
    width: 100%;
    background: linear-gradient(to right, #47bbff, #1e2fe9, #9148ff);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 40px;
}

.header-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.header-title-main{
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: 700; 
    color: var(--title-color);
}

.header-title-sub{  
    font-family: var(--main-font);
    color: var(--title-sub-color);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;

}

.sub-logo{
    background-color: transparent;
    border: none;
}

.sub-logo > svg{
    margin-top: 4px;
    height: 18px;
    width: auto;
    cursor: pointer;
    fill: white;
}

.sub-logo:hover > svg{
    fill: yellow;
}


.drawing-grid{
    margin-left: 450px;
    margin-top: 20px;
    width:500px;
    height: 500px;
    background-color: var(--drawing-grid-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-panel{
    width: var(--grid-panel-width);
    height: var(--grid-panel-width);
    background-color: var(--grid-panel-color);
    cursor: pointer;
}

.paint{
    background-color: var(--paint-color);
}

/* Testing */

/* #grid-panel-13-3{
    background-color: red;
} */

/* Hovering will be done with javaScript */

/* .grid-panel:hover{
    background-color: var(--grid-panel-hover) ;
} */

.controls{
    font-family: var(--main-font);
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    width: 400px;
    height: 100%;
    float: left;
    background-color: rgba(255, 255, 255, 0.798);
    color: rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.139);
}

.control-section{
    width: 100%;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(235, 235, 235, 0.414);
    box-shadow: 5px 5px 10px 5px rgba(75, 75, 75, 0.139);

}

.control-section-title{
    font-weight: 700;
    color: black;
    margin-left: -20px;
    margin-bottom: 20px;
}

.mouse-behavior-options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mouse-behavior-options > input{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.grid-size-options{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.color-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.bg-color-options{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

#clear-btn{
    margin-top: -20px;
    padding: 5px ;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px 5px rgba(75, 75, 75, 0.139);
    font-weight: 700;
    background-color:#8E47FE;
    color: white;
}

.new-btn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, #47bbff, #1e2fe9, #9148ff);
    opacity: 0.8;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.new-btn:hover{
    background: linear-gradient(to right, #a843ec, #1e2fe9, #2456d5);
    
}

.new-btn > svg{
    width: 20px;
    height: 20px;
    fill: white;
    
}

.opt-btn{
    display: none;
    box-shadow: 5px 5px 10px 5px rgba(75, 75, 75, 0.139);
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    place-content: center;
    cursor: pointer;
}

.opt-btn > svg{
    width: 20px;
    height: 20px;
    fill: rgb(43, 40, 40);
    
}

@media (max-width: 960px) {
    .controls {
        display: none;
        width: 100%;
        height: 100%;
    }
    .show-menu{
        display: flex !important;
    }

    .drawing-grid{
        margin: auto;
    }

    .opt-btn{
        display: grid;
        z-index: 1000;
    }

    #clear-btn{
        margin-top: -20px;
        padding: 5px ;
        width: 50%;
        margin: auto;
        border-radius: 10px;
        border: none;
        box-shadow: 5px 5px 10px 5px rgba(75, 75, 75, 0.139);
        font-weight: 700;
        background-color:#8E47FE;
        color: white;
        cursor: pointer;
    }
}
